<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.min.css" />
    <title>Регистрация заявки</title>
</head>

<body>
    <section class="form-list-application">
        <div class="container">
            <div class="container-list-application">
                <h1 class="form-list-application-title">
                    Регистрация заявки
                </h1>
                <form action="#" method="post">
                    <div class="container-list-application-flex">
                        <div class="container-list-application-br">
                             <h4 class="container-list-application-text">Дата регистрации:</h4>
                            <input type="date" value="2023-02-01">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Статус заявки:</h4>
                            <input type="text" value="Приняты">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Тип устройства:</h4>
                            <input type="date" value="Компьютер">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Модель устройства:</h4>
                            <input type="date" value="Компьютер">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Имя клиента:</h4>
                            <input type="date" value="Иванов Иван Иванович">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Номер телефона:</h4>
                            <input type="date" value="+(996)-000-000-000">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Мастер:</h4>
                            <input type="date" value="Петров Петр Васильевич">
                        </div>
                        
                    </div>
                </form>
            </div>
            
        </div>  
    </section>
</body>

</html>